
/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* css variables */

:root {
    --primary-font: "Hind", sans-serif;
    --secondary-font: "Montserrat", serif;
    --primary-colour: #86E8EA; /* Electric Aqua */
    --secondary-colour: #495867; /* blue slate */
    --primary-background-colour: #ECE9EC; /* Platinum*/ 
    --highlight: #B02E0C; /* Oxidised iron */ 
    --secondary-highlight: #B0D50B /* yELLOW green */
}

/* global styles */

body {
    background-color: var(--primary-background-colour);
    font-family: var(--primary-font);
    color: var(--secondary-colour);
}

section {
    padding: 1rem;
}

main {
    padding-top: 55px;
    background-color: var(--primary-background-colour);
    background-size: cover;
    width: 100%;
    min-height: 97vh;
    position: relative;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h1 {
    text-align: left;
}

/* nav bar styles */


#navbar {
    font-family: var(--secondary-font);
    box-shadow: 0 2px 4px 0 grey;
    background-color: var(--secondary-colour);
}

#logo {
    font-size: x-large;
    color: var(--primary-background-colour);
}

#navbar .nav-btn .nav-link {
    font-family: var(--secondary-font);
    color: var(--primary-background-colour);
}
/* footer styles */

#footer {
    background-color:  var(--secondary-colour);
    box-shadow: 0 -2px 4px 0 grey;
    height: 2.5rem;
    padding-top: 10px;
}

#socials a {
    color: var(--primary-colour);
    font-size: 1.2rem;
    padding-left: 4px;
}

/* dashbboard  page styles */

#new-workout-card {
    bottom: 50px;
    right: 25px;
    width: 50%;
}

.workout-tile {
    background-color: var(--primary-background-colour);
    border: 3px solid var(--primary-colour);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 4px 0 var(--primary-colour), 0 3px 10px 0 var(--primary-colour);
    height: auto;
    width: 100%;
}

#submit-exercise {
    font-size: large;
    color: var(--secondary-colour);
}

.count-section {
    padding: 2rem;
}

.history-card {
    border: 1px solid var(--secondary-colour);
    border-radius: 10px;
    background-color: #FAF9F6;
    height: auto;
    padding: 12px;
}

.history-card p {
    margin: 0;
}

.workout-count {
    font-size: xx-large;
    text-align: left;
}

.workout-count-text {
    text-align: left;
}

.tile-display {
    padding: 10px;
}

.history {
    color: var(--secondary-colour);
}

#workout-table {
    width: 100%;
    margin-bottom: 1rem;
}

#workout-table thead {
    color: var(--secondary-colour);
    font-style: italic ;
}

#overall-buttons button {
    background-color: var(--secondary-colour);
    color: var(--primary-background-colour);
    border: var(--primary-colour) 1px solid;
    border-radius: 5px;
}

#overall-buttons button:hover {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    border: var(--primary-colour) 1px solid;
    border-radius: 5px;
}


/* my workouts page styles */
.workout-history-card {
    background-color: var(--primary-background-colour);
    border: 3px solid var(--primary-colour);
    border-radius: 10px;
    padding: 4px;
    box-shadow: 0 2px 4px 0 var(--primary-colour), 0 3px 10px 0 var(--primary-colour);
    height: auto;
}

/* .workout-history-card table {

} */

/* media queries */
/* media queries for tablets or larger (768px or up) */

@media screen and (min-width: 768px) {
    #new-workout-card {
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 50%;
    }
}

/* media queries for large tablets (992px or up) */
@media screen and (min-width: 992px) {
    
}

/* media queries for laptops (1200px or up) */
@media screen and (min-width: 1200px) {
    
}

/* test styles - TO BE DELETED */

.test {
    background-color: blueviolet;
    border: 1px solid red;
}


