
/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
/* css variables */

:root {
    --primary-font: "Hind", sans-serif;
    --secondary-font: "Montserrat", serif;
    --primary-colour: #86E8EA; /* Electric Aqua */
    --secondary-colour: #495867; /* blue slate */
    --primary-background-colour: #ECE9EC; /* Platinum*/ 
    --highlight: #B02E0C; /* Oxidised iron */ 
    --secondary-highlight: #B0D50B /* yELLOW green */
}

/* global styles */

body {
    background-color: var(--primary-background-colour);
    font-family: var(--primary-font);
    color: var(--secondary-colour);
}

section {
    padding: 1rem;
}

main {
    padding-top: 55px;
    background: url(../images/home-background.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 97vh;
    position: relative;
}

h1, h2, h3 {
    font-family: var(--secondary-font);
    font-weight: 500;
}

h1 {
    text-align: center;
}

/* nav bar styles */


#navbar {
    font-family: var(--secondary-font);
    box-shadow: 0 2px 4px 0 grey;
    background-color: var(--secondary-colour);
}

#logo {
    font-size: x-large;
    color: var(--primary-background-colour);
}

#navbar .nav-btn .nav-link {
    font-family: var(--secondary-font);
    color: var(--primary-background-colour);
}
/* footer styles */

#footer {
    background-color:  var(--secondary-colour);
    box-shadow: 0 -2px 4px 0 grey;
    height: 2.5rem;
    padding-top: 10px;
}

#socials a {
    color: var(--primary-colour);
    font-size: 1.2rem;
    padding-left: 4px;
}

/* dashbboard  page styles */

#new-workout-card {
    bottom: 50px;
    right: 25px;
    width: 50%;
}

.workout-tile {
    background-color: var(--primary-background-colour);
    border: 3px solid var(--primary-colour);
    border-radius: 10px;
    padding: 8px;
    box-shadow: 0 2px 4px 0 var(--primary-colour), 0 3px 10px 0 var(--primary-colour);
    height: 400px;
    width: 100%;
}

#submit-exercise {
    font-size: large;
    color: var(--secondary-colour);
}

.workout-count {
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
}

.workout-count-text {
    text-align: center;
}

.tile-display {
    padding: 10px;
}

.history {
    color: var(--primary-background-colour);
}
/* progress page styles */


/* charts page styles */




/* script styles */


/* media queries */

/* media queries */
/* media queries for tablets or larger (768px or up) */

@media screen and (min-width: 768px) {
    #new-workout-card {
    position: absolute;
    bottom: 50px;
    right: 25px;
    width: 50%;
    }
}

/* media queries for large tablets (992px or up) */
@media screen and (min-width: 992px) {
    
}

/* media queries for laptops (1200px or up) */
@media screen and (min-width: 1200px) {
    
}

/* test styles - TO BE DELETED */

.test {
    background-color: blueviolet;
    border: 1px solid red;
}


